* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --main-color: #dc2626;
  --pale-main-color: #fca5a5;
  --main-white: #fef2f2;
}

body {
  background-color: var(--main-white);
  font-family: Verdana, Helvetica, sans-serif;
  line-height: 1.5;
}

nav {
  background-color: var(--main-color);
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px var(--pale-main-color);
}

ul {
  display: flex;
  gap: 15px;
}

li {
  list-style: none;
}

li > button {
  background-color: var(--pale-main-color);
  width: 6vw;
  height: 2vw;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

li > button:hover {
  box-shadow: inset 0 0 45px var(--main-white);
  cursor: pointer;
}

.hidden {
  display: none;
}

.drop-down-button {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: 10fr 1fr;
}

.drop-down-icon {
  width: 2vw;
}
