* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --main-color: #dc2626;
  --pale-main-color: #fca5a5;
  --main-white: #fef2f2;
}

nav {
  background-color: var(--main-color);
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  gap: 15px;
}

li {
  list-style: none;
}

li > button {
  background-color: var(--pale-main-color);
  width: 6vw;
  height: 2vw;
  border: none;
  border-radius: 10px;
}

li > button:hover {
  box-shadow: inset 0 0 45px var(--main-white);
  cursor: pointer;
}
