* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --main-color: #dc2626;
}

nav {
  background-color: var(--main-color);
  width: 100%;
  height: 5vw;
}

ul {
  display: flex;
  gap: 15px;
}

li {
  list-style: none;
}
